
<app-task1></app-task1>
  <app-task2></app-task2>
  <app-task3></app-task3>
  <!-- ------------------------------- lesson2 ------------------------------- -->
  <app-socials></app-socials>
<app-button-clicker></app-button-clicker>
<app-mango></app-mango>
<!-- ------------------------------- lesson3 ------------------------------- -->
<app-lesson3-task0></app-lesson3-task0>
<app-svg></app-svg>
<!-- ------------------------------- lesson4 ------------------------------- -->
<app-user></app-user>

<!-- ------------------------------- lesson5 ------------------------------- -->
<div class="lesson5">
    <app-opened-socials></app-opened-socials>
    <app-closed-socials></app-closed-socials>
</div>

<!-- ------------------------------- lesson6 ------------------------------- -->
<app-films-section></app-films-section>
<app-films-section></app-films-section>
